"*":
  "exception-reporting":
    userId: "40a36d7e-91ec-5987-8a27-1f63b48ce4ca"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-material-ui"
      "chester-atom-syntax"
    ]
  editor:
    invisibles: {}
    scrollPastEnd: true
    fontSize: 16
    lineHeight: 1.3
    fontFamily: "Anonymous Pro"
    showIndentGuide: true
  linter: {}
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  nuclide:
    remoteProjectsConfig: []
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "one-dark-ui": {}
  "atom-material-ui":
    slimScrollbar: true
    panelContrast: true
    depth: true
    accentColor: "Cyan"
  "git-plus": {}
