"*":
  "exception-reporting":
    userId: "ef6dbf64-d6d6-089b-4fb5-c0247d65b442"
  welcome:
    showOnStartup: false
  linter:
    statusBar: "Show error of the selected line"
    showErrorTabLine: true
  core:
    themes: [
      "one-dark-ui"
      "oceanic-next"
    ]
    disabledPackages: [
      "language-babel"
      "language-jsx"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    fontSize: 21
    scrollPastEnd: true
    lineHeight: 1.3
    fontFamily: "Anonymous Pro"
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    showRuleIdInMessage: true
    globalNodePath: "/opt/boxen/nodenv/versions/v0.10.38"
    useGlobalEslint: true
  "language-babel":
    transpileOnSave: false
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  nuclide:
    remoteProjectsConfig: []
  "MavensMate-Atom":
    mm_panel_height: 533
  "isotope-ui": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "tool-bar":
    position: "Left"
  "atom-material-ui":
    panelContrast: true
    depth: true
    altCmdPalette: true
    compactTreeView: true
    showTabIcons: "Show on all tabs"
    accentColor: "Cyan"
  Termrk:
    fontFamily: "Source Code Pro for Powerline"
  react:
    enabledForAllJavascriptFiles: true
  "highlight-line": {}
  "flex-tool-bar": {}
  "merge-conflicts": {}
  "highlight-selected":
    onlyHighlightWholeWords: true
