"*":
  "exception-reporting":
    userId: "ef6dbf64-d6d6-089b-4fb5-c0247d65b442"
  welcome:
    showOnStartup: false
  linter:
    statusBar: "Show error of the selected line"
    showErrorTabLine: true
  core:
    themes: [
      "atom-material-ui"
      "chester-atom-syntax"
    ]
    disabledPackages: [
      "MavensMate-Atom"
      "language-babel"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    fontSize: 17
    scrollPastEnd: true
    lineHeight: 1.3
    fontFamily: "Anonymous Pro"
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
    showRuleIdInMessage: true
  "language-babel":
    transpileOnSave: false
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  nuclide:
    remoteProjectsConfig: []
  "MavensMate-Atom":
    mm_workspace: [
      "/Users/rcarvalho/code/mavensmate"
    ]
    mm_api_version: "34"
    mm_compile_check_conflicts: true
  "isotope-ui": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "tool-bar":
    position: "Left"
  "atom-material-ui":
    accentColor: "Cyan"
    panelContrast: true
    depth: true
    altCmdPalette: true
  Termrk:
    fontFamily: "Source Code Pro for Powerline"
  react: {}
  "highlight-line": {}
